<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>
</head>
<body>
  <%- include ("../../partials/nav") %>
  <div class="container">
    <div class = "btn-container back">
      <a href="/board/long"><i class="material-icons back">arrow_back</i></a>
    </div>
    <div class="input-container">
      <form class = "spinput" action="/board/long/write" method="POST">
        <div class="sptitleinput">
          <label for="title">제목</label>
          <input type="text" id="title" name="title" value="" autocomplete="off">
        </div>
        <div class="spwriterinput">
          <label for="writer">글쓴이</label>
          <input type="text" id="writer" name="writer" value="" autocomplete="off">
        </div>
        <label for="content">내용</label>
        <div class="spcontentinput input-field">
          <textarea class="materialize-textarea" id="content" name="content"></textarea>
        </div>
        <div class = "btn-container submit">
          <button class="btn default" type="submit">게시</button>
        </div>
      </form>
     </div>
  </div>
  <script>
      M.textareaAutoResize($('#content'));
  </script>
</body>
<%- include ("../../partials/footer") %>
</html>