<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>
</head>
<body>
    <%- include ("../../partials/nav") %>
    <h4>UZU 긴글 쓰기</h4>
    <form action="/board/long/write" method="POST">
        <div>글쓰기</div>
        제목 : <input type="text" name="title" /> <br>
        내용 : <input type="text" name="content" /> <br>
        태그 : <input type="text" name="tags"/>
        <button type="submit" value="게시">게시</button>
    </form>
</body>
</html>