<!-- web font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

<!--materialize-->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- my css  -->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/board.css">

<!-- my js -->
<script src="../../public/js/script.js"></script>
<script src="https://kit.fontawesome.com/997c755345.js" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<title>UZU</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">