<!-- views/partials/nav.ejs -->

<ul class="navbar-nav">
  <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
  <li class="nav-item"><a href="/about" class="nav-link">짧은글</a></li>
  <li class="nav-item"><a href="/posts" class="nav-link">긴글</a></li> <!-- 1 -->
</ul>
