<html>
<body>
    <div style="margin-right: 35%; margin-top: 3.5%; margin-bottom : 2%">
        <p style="text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-family: initial;">안녕하세요. UZU 회원 가입을 위한 인증 번호입니다.</p>
        <p style="text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-family: initial;
        padding: 1%;">아래의 인증 번호를 입력하여 인증을 완료해주세요.</p>
        <br>
        <p style="text-align: center;
        font-size: x-large;
        font-weight: bold;
        font-family: initial;
        padding: 1%;
        color: blueviolet;
        width : 200px;
        border: solid 1px rgb(214, 171, 255);
        margin-top: 10px;
        margin-left : auto;
        margin-right: auto;"><%=code%></p>
    </div>
</body>
</html>
