<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UZU</title>
</head>
<body>
    <h1>UZU login page</h1>
    <form action="member/login" method="POST">
        <h2>로그인</h2>
        이메일 : <input type="text" name="id" /> <br />
        비밀번호 : <input type="password" name="pw" />
        <button type="submit" value="로그인">로그인</button>
    </form>
</body>
</html>