<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <meta charset="UTF-8">
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=12a3771e13e125b0c6f0ef4b5f94e684"></script>
    <script>const API_KEY = "6a4c68705a626a6531313554567a6e75"; </script>
</head>
<body>
    <%- include ("./partials/nav") %>

    <div class="row">
        <div id="map" class="col s12" style="width:100%;height:400px;">

            <script>
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                    mapOption = {
                        center: new kakao.maps.LatLng(37.476746, 126.981633), // 지도의 중심좌표
                        level: 4, // 지도의 확대 레벨
                        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
                    }; 
                // 지도를 생성한다 
                var map = new kakao.maps.Map(mapContainer, mapOption); 
                // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
                //var infowindow = new kakao.maps.InfoWindow({zIndex:1});
            </script>
        </div>
    </div>

    <div class='textContainer'>
        <div class='input-field'>
            <textarea class="materialize-textarea" id="textarea" data-length="300" placeholder="여기를 눌러 이야기를 공유해보세요."></textarea>
            <div class="divider"></div>
            <span class="helper-text" data-error="너무 길어요! (최대 글자 수 : 300자)"></span>
            <div class="share-cancel">
                <a href="#" id="sharebtn">공유</a>
                <a href="#" id="cancelbtn">취소</a>
            </div>
        </div>
    </div>

</body>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
        © 2020 Copyright 
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

</html> 
