<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <script src="/js/duplicationCheck.js" defer></script>
    <script src="../public/js/nicknameDuplication.js"></script>
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/emailvalidate.js"></script>


</head>
<body>
    <% if (password == false) { %>
        <script>alert('비밀번호 형식이 올바르지 않습니다')</script>
    <% } %> 
    <div class="signin-container">
        <div id="welcome">
            <h1>Welcome!</h1>
            <p>기본 정보를 설정해주세요</p> <br>
        </div>

        <!--forms-->
        <form action="member/register" method="POST" id="registerform">
        <div id="forms">
            <!--name-->
            <div class="row form name">
                <div class="col s9" id="inputbox">
                    <label for="name">이름을 적어주세요</label>
                    <input class="textinput" type='text' name = "name" id = "text">
                </div>
            </div>

            <!--name-->
            <div class="row form dateOfBirth">
                <div class="col s9" id="inputbox">
                    <label for="dateOfBirth">생년월일을 적어주세요 - 생일마다 혜택이 쏟아져요!</label>
                    <input class="textinput" type='date' name= "dateOfBirth" id = "date" value="2000-01-01">
                </div>
            </div>

            <!--email setting form-->
            <div class="row form email">
                <div class="col s9" id="inputbox">
                    <label for="email">사용할 이메일을 적어주세요</label>
                    <input class="textinput validate" type='email' name= "email" id = "email" placeholder = "ex. uzu2020@likelion.skku">
                    <span class="helper-text" data-error="바르지 않은 형식입니다" data-success="바른 형식입니다"></span>
                </div>
                <a class = "col s3 waves-effect waves-light btn" id="validatebtn1">인증하기</a>
                <span class="time"></span>
            </div>

            <!--email validation form-->  
            <div class="row form email-validation">
                <div class="col s9" id="inputbox">
                    <label for="email-validation">전송된 인증번호를 입력하세요</label>
                    <input class="textinput validate" type='text' id = "email-validation">
                </div>
                <a class = "col s3 waves-effect waves-light btn" id="validatebtn">인증확인</a>
            </div>

            <!-- password setting form-->
            <div class="row form password">
                <div class="col s12" id="inputbox">
                    <label for="password">사용할 비밀번호를 적어주세요 <span><br>(8자 이상/ 숫자, 영문 모두 사용)</span></label>
                </div>

                <div class="col s9" id="inputbox">
                    <input class="textinput validate" type='password' name= "password" id = "password1">
                    <span class="helper-text" data-error="비밀번호 설정 형식을 확인해주세요"></span>
                    <% if(flash){ %>
                        <span class="invalid-feedback"><%=  flash %></span>
                    <% } %>
                </div>

                <% if(password == false){ %>
                    <div class="col s3 password invalid">
                        <i class="material-icons">error</i>
                        <i class="material-icons" style="display:none">done_all</i>
                    </div>
                <% } else{ %>   
                    <div class="col s3 password invalid">
                        <i class="material-icons" style="display:none">error</i>
                        <i class="material-icons">done_all</i>
                    </div>
                <% } %>    
            </div>


            <!-- password varification form-->
            <div class="row form password-varification">
                <div class="col s9" id="inputbox">
                    <label for="password-varification">다시 적어주세요</label>
                    <input class="textinput validate" type='password' id = "password2">
                </div>
            </div>

            <!--password varification message-->
            <div class="alert-pass-equal" id="pass-equal">비밀번호가 일치합니다.</div> 
            <div class="alert-pass-unequal" id="pass-unequal">비밀번호가 일치하지 않습니다.</div>

            <!--register-password varification-->
            <script>
                $(function(){ 
                    $("#pass-equal").hide(); 
                    $("#pass-unequal").hide(); 
                    $("#password2").keyup(function(){
                        var password=$("#password").val(); 
                        var password2=$("#password2").val(); 
                        if(password != "" || password2 != ""){ 
                            if(password == password2){ 
                                $("#pass-equal").show(); 
                                $("#pass-unequal").hide(); 
                                }else{ 
                                    $("#pass-equal").hide(); 
                                    $("#pass-unequal").show(); 
                                } 
                            }
                        }); 
                    }
                 ); 
            </script>

            <!--modal-->
            <%if (isDuplicated) { %>
                <div id="dupcheck" class="modal">
                    <div class ="modal-content">
                        <!-- <i class="material-icons nickname valid">check_circle</i> -->
                        <i class="material-icons nickname invalid">check_circle</i>
                        <p id="ok1">이미 누군가가 사용 중이에요.</p>
                        <p id="ok2">다른 닉네임을 알려주세요.</p>
                        <a class= "waves-effect waves-light btn close" id="okbtn">확인</a>
                    </div>
                </div>
            <% } else{ %>
                <div id="dupcheck" class="modal">
                    <div class ="modal-content">
                        <i class="material-icons nickname valid">check_circle</i>
                        <!--<i class="material-icons nickname invalid">check_circle</i> -->
                        <p id="ok1">사용 가능한 닉네임입니다!</p>
                        <p id="ok2">만나서 반가워요</p>
                        <a class= "waves-effect waves-light btn close" id="okbtn">확인</a>
                    </div>
                </div>
            <% } %>

            <!--nickname form-->
            <div class="row form nickname">
                <div class="col s9" id="inputbox">
                    <label for="nickname">활동할 닉네임을 알려주세요</label>
                    <input class="textinput validate" type='text' name= "nickname" id = "nickname" placeholder = "ex. 우주인">
                </div>
                <a class = "col s3 waves-effect waves-light btn" id="dupcheckbtn">중복확인</a>
            </div>

            <!--address form-->            
            <div class="row form address">
                <div class="col s9" id="inputbox">
                    <label for="address">지역을 설정해주세요</label>
                    <input disabled class="textinput validate" type='text' name="address" id ='roadAddress' placeholder = "도로명주소">
                    <input class="textinput validate" type='text' name="detailAddress" id = 'detailAddress' placeholder = "상세주소">
                    <span id="guide" style="color:#999; display:none"></span>
                </div>
                <a class = "col s3 waves-effect waves-light btn" onclick="execDaumPostcode()" id="addressbtn">주소찾기</a>
            </div>

            <!--finish button-->  
            <button class= "waves-effect waves-light btn" type="submit" value="회원가입" id="nextbtn">완료</button>
        </div>
        </form> 
</body>
</html>