<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UZU-register</title>

    <!--materialize-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/register.css">
<!-- <style>

    .signin-container {
        width : 50%;
        margin-left : 25%;
    }

    /*header*/
    #welcome {
        text-align: center;
        padding-top : 3em;
    }

    #welcome h1 {
        font-size: 3em;
        margin-bottom : 0;
        color: #4c14ee;
        font-weight: bold;
    }

    #welcome p {
        margin-top : 8px;
    }

    /*form*/
    input[type=text].textinput.validate:focus,
    input[type=email].textinput.validate:focus,
    input[type=password].textinput.validate:focus {
        border-bottom: 2px solid #4c14ee;
	    -webkit-box-shadow: none;
	    box-shadow:  none;
    }

    /* label color */
    .form label {
        color:#424242;
        font-size: 13px;
    }

    #forms {
        width : 70%;
        margin : 0 auto;
    }

    .row.form {
        margin : 30px 0;
    }

    .helper-text {
        font-size: 11px;
    }

    @media screen and (max-width:992px) {

        #forms {
            width : 80%;
            margin : 0 auto;
        }

        .signin-container {
            width : 60%;
            margin-left : 20%;
        }

        #dupcheckbtn, #addressbtn, #validatebtn {
             font-size: 13px;
         }

    }

    @media screen and (max-width:601px) {

        #forms {
            width : 100%;
            margin : 0 auto;
        }

        .signin-container {
            width : 80%;
            margin-left : 10%;
         }

         #dupcheckbtn, #addressbtn, #validatebtn {
             font-size: 12px;
         }
    }

    #inputbox span {
        font-size : 12px;
        margin : 0;
        color : #777777;
    }

    .col.s3.password {
        padding : 15px;
        color : #4c14ee;
        font-size: 24px;
    }


    .form .nickname {
        display: grid;
        grid-template-columns: auto auto;
    }

    #dupcheckbtn, #addressbtn, #validatebtn {
        background-color: #4c14ee;
        color : #ffffff;
        margin-top : 30px;
    }

    #nextbtn {
        text-align: center;
        width : 100%;
        margin : 15% 0;
        background-color: #4c14ee;
    }

    /*modal*/
    .modal {
        display: none;
        position : fixed;
        z-index : 1;
        left : 0;
        top : 0;
        padding-top : 200px;
        width : 100%;
        height : 100%;
        overflow: auto;
        background-color : rgb(0,0,0);
        background-color : rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin : auto;
        padding : 25px;
        border-radius: 0.2cm;
        box-shadow: 2px 2px 7px grey;
        width : 270px;
        text-align: center;
    }

    .icon {
        font-size: 25px;
        font-weight: bold;
        color :#4c14ee;
    }

    .button.close {
        width : 160px;
        padding : 5px;
        margin-top : 15px;
    }


    #forms .modal-content p{    
        margin : 6px;
    }

    #forms .modal-content #ok1 {
        font-size : 14px;
        font-weight: bold;
    }

    #forms .modal-content #ok2 {
        font-size : 11px;
        color : grey;
    }
    
</style> -->

<script src="/js/duplicationCheck.js" defer></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/roadAddress.js"></script>

</head>
<body>
    <div class="signin-container">
        <div id="welcome">
            <h1>Welcome!</h1>
            <p>기본 정보를 설정해주세요</p> <br>
        </div>

        <!--forms-->
        <form action="member/register" method="POST">
        <div id="forms">
            <!--email setting form-->
            <div class="row form email">
                <div class="col s9" id="inputbox">
                    <label for="email">사용할 이메일을 적어주세요</label>
                    <input class="textinput validate" type='email' name= "email" id = "email" placeholder = "ex. uzu2020@likelion.skku">
                    <span class="helper-text" data-error="바르지 않은 형식입니다" data-success="바른 형식입니다"></span>
                </div>
                <a class = "col s3 waves-effect waves-light btn" id="validatebtn">인증하기</a>
            </div>

            <!--email validation form-->  
            <div class="row form email-validation">
                <div class="col s9" id="inputbox">
                    <label for="email-validation">전송된 인증번호를 입력하세요</label>
                    <input class="textinput validate" type='text' id = "email-validation">
                </div>
                <a class = "col s3 waves-effect waves-light btn" id="validatebtn">인증확인</a>
            </div>


            <!-- password setting form-->
            <div class="row form password">
                <div class="col s12" id="inputbox">
                    <label for="password">사용할 비밀번호를 적어주세요 <span>(8자 이상/ 특수문자, 숫자, 영문 중 두 가지 이상 포함)</span></label>
                </div>

                <div class="col s9" id="inputbox">
                    <input class="textinput validate" type='password' name= "password" id = "password">
                    <span class="helper-text" data-error="비밀번호 설정 형식을 확인해주세요"></span>
                </div>

                <div class="col s3 password invalid">
                    <i class="material-icons">error</i>
                    <i class="material-icons">done_all</i>
                </div>
            </div>


            <!-- password varification form-->
            <div class="row form password-varification">
                <div class="col s9" id="inputbox">
                    <label for="password-varification">다시 적어주세요</label>
                    <input class="textinput validate" type='password' id = "password">
                </div>
            </div>



            <!-- <a class= "waves-effect waves-light btn" href="#" id="nextbtn">다음</a> -->
        </div>

         <!--modal-->
    <div id="dupcheck" class="modal">
        <div class ="modal-content">
            <i class="material-icons nickname valid">check_circle</i>
            <i class="material-icons nickname invalid">check_circle</i>
            <p id="ok1">사용 가능한 닉네임입니다!</p>
            <p id="ok2">만나서 반가워요</p>
            <a class= "waves-effect waves-light btn close" href="#" id="okbtn">확인</a>
        </div>
    </div>

   

        <!--forms-->
        <div id="forms">
            <!--nickname form-->
            <div class="row form nickname">
                <div class="col s9" id="inputbox">
                    <label for="nickname">활동할 닉네임을 알려주세요</label>
                    <input class="textinput validate" type='text' id = "nickname" placeholder = "ex. 우주인">
                </div>
                <a class = "col s3 waves-effect waves-light btn" id="dupcheckbtn">중복확인</a>
            </div>

            <!--address form-->            
            <div class="row form address">
                <div class="col s9" id="inputbox">
                    <label for="address">지역을 설정해주세요</label>
                    <input disabled class="textinput validate" type='text' id ='roadAddress' placeholder = "도로명주소">
                    <input class="textinput validate" type='text' id = 'detailAddress' placeholder = "상세주소">
                    <span id="guide" style="color:#999; display:none"></span>
                </div>
                <a class = "col s3 waves-effect waves-light btn" onclick="execDaumPostcode()" id="addressbtn">주소찾기</a>
            </div>

            <!--finish button-->  
            <button class= "waves-effect waves-light btn" type="submit" value="회원가입" id="nextbtn">완료</button>
        </div>


        </form>
    
</body>
<!-- </head>
<body>
    <h1>UZU register page</h1>
    <form action="member/register" method="POST">
        <h2>회원가입</h2>
        이메일 : <input type="text" name="email" /> <br />
        비밀번호 : <input type="password" name="password" />
        <button type="submit" value="회원가입">회원가입</button>
    </form>
</body> -->
</html>