
    .bg {
        background : url(/image/uzu_bg.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position : absolute;
        z-index: -1;
        object-fit: cover;
    }

    .m-bg {
        display : none;
    }

    .main-logo {
        display: inline-block;
        position: fixed;
        left : 300px;
        bottom:350px;
    }

    .main-logo img{
        width : 250px;
    }

    .loginCon {
        padding: 3rem 2rem;
        background: #ffffff;
        position: relative;
        display: inline-block;
        left: 65%;
        margin-top: 11%;
        border-radius: 20px;
    }

    @media screen and (max-width:1000px) {
        .loginCon {
            left: 50%;
            margin-left : -175px;
            margin-top: 15%;
        }

        .main-logo {
            display : none;
        }
    }

    @media screen and (max-width:420px) {
        .loginCon {
            left: 0;
            margin-left : 0;
            margin-top: 0;
        }

        .bg {
            display : none;
        }

        .m-bg {
            display : block;
            position : absolute;
            z-index: -1;
            object-fit: cover;
        }

        .main-logo {
            display : none;
        }
    }

    #loginform {
        display : block;
        
    }

    .loginbtn {
        text-align: center;
        width : 100%;
        background-color: #4c14ee;
        max-width : 400px;
        margin : 2em 0;
    }

    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]){
        border-bottom: 1px solid #4214ee;
        box-shadow: 0 1px 0 0 #4214ee;
        color : #4c14ee;
    }

    .loginbtn.btn:hover {
        background : #6d41f1;
    }

    .g.loginbtn {
        background-color : #ffffff;
        color : #4c14ee;
        border : 1px solid #4c14ee;
        margin : 0;
    }

    .g.loginbtn:hover {
        background-color : #6d41f1;
        color : #ffffff;
        border : 1px solid #4c14ee;
    }

    .tosignin, .or {
        text-align: center;
    }

    .or {
        margin : 1.5rem 0;
    }
