<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../partials/head') %>
  </head>
  <body>
    <%- include('../../partials/nav') %>
    <h3>짧은 글 게시판 목록</h3>
    <div class="contact contact-index">
      <h3>Index</h3>
      <ul>
        <% boards.forEach(function(Board) { %> <!-- 3 -->
          <li>
            <%= Board.title %>
          </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
