<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../partials/head') %>
  </head>
  <body>
    <%- include('../../partials/nav') %>
    <h1>짧은 글 게시판 목록</h1>
  </body>
</html>
