<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>

    <style>
    .tag-container{
        text-align: center;
        margin : 10px 0 ;
    }

    .tag-container .tag{
        font-size: 15px;
        border : 1px solid #4c1cee;
        padding : 5px 15px;
        border-radius: 1cm;
        margin : 0 0.5rem;
    }

    .tag-container .tag.active{
        background-color: #4c1cee;
        color : #ffffff;
    }

    .tag-container .tag:hover {
        transition : background-color 0.38s ease, color 0.38s ease;
        background-color: #4c1cee;
        color : #ffffff;
    }

    .spcontainer .spfooter{
        text-align: right;
    }

    .spcontainer .sptitle {
        margin : 0;
    }

    .spcontainer .spcontent {
        margin : 0;
    }

    </style>

</head>
<body>
    <%- include ("../../partials/nav") %>

    <div class= "container">
        <div class="boardtitle">
            <div>UZU 짧은글 목록</div>
        </div>

        <div class="tag-container">
            <span class="tag all active">all</span>
            <span class="tag t1 all">#111</span>
            <span class="tag t2 all">#222</span>
            <span class="tag t3 all">#333</span>
            <span class="tag t4 all">#444</span>
            <span class="tag t5 all">#555</span>
        </div>

        <div class="spcontainer">
            <table>
            <tr>
                <td>
                    <div class="spheader">
                        <span class=item-profile></span>
                        <span class="spwriter">글쓴이</span>
                        <span class="sptime">17분 전</span>
                    </div>
                    <p class="sptitle">제목 자리</p>
                    <p class="spcontent">gerwvwenjndknknc</p>
                    <div class="spfooter">
                        <span class="splike">17</span>
                        <span class="spcomment">6</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>dkfnkdsf</td>
            </tr>
            <tr>
                <td>dkfnkdsf</td>
            </tr>
            </table>
        </div>
    </div>
</body>
</html>
