<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>
</head>
<body>
    <%- include ("../../partials/nav") %>
    <div class= "container">
        <div class="boardtitle">
            <div>UZU 짧은글 쓰기</div>
        </div>

        <form action="/board/short/write" method="POST">
            제목 <input type="text" name="title" /> <br>
            내용 <input type="text" name="content" /> <br>
            태그 <input type="text" name="tags"/>
            <button type="submit" value="게시">게시</button>
        </form>
    </div>
</body>
</html>