<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UZU</title>
</head>
<body>
    <h1>UZU 짧은글 쓰기</h1>
    <form action="write" method="POST">
        <h2>글쓰기</h2>
        제목 : <input type="text" name="id" /> <br>
        내용 : <input type="text" name="content" />
        <button type="submit" value="게시"></button>
    </form>
</body>
</html>
