<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>
</head>
<body>
    <%- include ("../../partials/nav") %>
    <div class="row">
        <img id="main_banner" class="col s12" src="/image/uzu_bg.jpg">
    </div>
    <div class='textContainer'>
        <div class='input-field'>
            <textarea class="materialize-textarea" id="textarea" data-length="300" placeholder="여기를 눌러 이야기를 공유해보세요."></textarea>
            <div class="divider"></div>
            <span class="helper-text" data-error="너무 길어요! (최대 글자 수 : 300자)"></span>
            <div class="share-cancel">
                <a href="#" id="sharebtn">공유</a>
                <a href="#" id="cancelbtn">취소</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="post-collection" id="col01">
            <div class="collection-title">
                <span>우리동네 짧은생각<i class="material-icons">chevron_right</i></span>
                <a class="movetoboard" href="/board/short">전체 짧은글 보기</a>
            </div>
            <div class="collection-content">
                <div class="col short grid-post">
                    <article class="col short grid-item">
                        <div class="grid-item-content">
                            <div class="spheader">
                                <p class="sptitle"><a href="/board/short">드디어 우리 동네에도 고구마 붕어빵이 생겼다</a></p>
                                <div class="grid-item-image">
                                    <img class="image-source" src="/image/sample.jpg">
                                </div>
                            </div>
                            <div class="spfooter">
                                <i class="material-icons">favorite_border</i><span class="splike">17</span> 
                                <i class="material-icons">comment</i><span class="spcomment">6</span>
                            </div>
                        </div>
                    </article>
                    <article class="col short grid-item">
                        <div class="grid-item-content">
                            <div class="spheader">
                                <p class="sptitle"><a href="/board/short">드디어 우리 동네에도 고구마 붕어빵이 생겼다. 드디어 우리 동네에도 고구마 붕어빵이 생겼다. 드디어 우리 동네에도 고구마 붕어빵이 생겼다. </a></p>
                                <div class="grid-item-image">
                                    <img class="image-source" src="/image/sample.jpg">
                                </div>
                            </div>
                            <div class="spfooter">
                                <i class="material-icons">favorite_border</i><span class="splike">17</span> 
                                <i class="material-icons">comment</i><span class="spcomment">6</span>
                            </div>
                        </div>
                    </article>
                    <article class="col short grid-item">
                        <div class="grid-item-content">
                            <div class="spheader">
                                <p class="sptitle"><a href="/board/short">우리집은 붕세권이 아니야 ㅜㅡㅜ 드디어 우리 동네에도 고구마 붕어빵이 생겼다</a></p>
                                <div class="grid-item-image">
                                    <img class="image-source" src="/image/sample.jpg">
                                </div>
                            </div>
                            <div class="spfooter">
                                <i class="material-icons">favorite_border</i><span class="splike">17</span> 
                                <i class="material-icons">comment</i><span class="spcomment">6</span>
                            </div>
                        </div>
                    </article>
                    <article class="col short grid-item">
                        <div class="grid-item-content">
                            <div class="spheader">
                                <p class="sptitle"><a href="/board/short">우리집은 붕세권이 아니야 ㅜㅡㅜ 엉엉엉 드디어 우리 동네에도 고구마 붕어빵이 생겼다. 드디어 우리 동네에도 고구마 붕어빵이 생겼다. 드디어 우리 동네에도 고구마 붕어빵이 생겼다. </a></p>
                                <div class="grid-item-image">
                                    <img class="image-source" src="/image/sample.jpg">
                                </div>
                            </div>
                            <div class="spfooter">
                                <i class="material-icons">favorite_border</i><span class="splike">17</span> 
                                <i class="material-icons">comment</i><span class="spcomment">6</span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="post-collection">
            <div class="collection-title" id="col02">
                <span class="coltitle">우리동네 긴생각<i class="material-icons">chevron_right</i></span>
                <a class="movetoboard" href="/board/long">전체 긴글 보기</a>
            </div>
            <div class="collection-content">
                <div class="col grid-post">
                    <article class="col grid-item">
                        <div class="grid-item-image">
                            <img class="image-source" src="/image/sample.jpg">
                        </div>
                        <div class="grid-item-content">
                            <div class="lpheader">
                                <p class="lptitle"><a href="/board/long">드디어 우리 동네에도 고구마 붕어빵이 생겼다</a></p>
                            </div>
                            <p class="lpcontent"><span data-date>내용은 여기에 고구마 붕어빵이 생겼다 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo odio eius, numquam aut aliquid sint. Minus, nostrum vitae, quis explicabo id obcaecati ratione provident similique sed temporibus ex aut eaque.</span></p>
                            <div class="lpfooter">
                                <i class="material-icons">favorite_border</i><span class="lplike">17</span> 
                                <i class="material-icons">comment</i><span class="lpcomment">6</span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include ("../../partials/footer") %>
</html>
