<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ("../partials/head") %>
        <style>
            .writeCon {
                width : 480px;
                margin : 8rem auto;
            }

            .writeCon .boardtitle {
                margin-bottom: 2rem;
            }

            .buttons .write {
                display : block;
                width : 90%;
                margin : 1.5rem auto;
                font-size: 1.2rem;
                line-height: 1.2rem;
                height : 50px;
            }

            .btn.write {
                background : #ffffff;
                border-radius: 5px;
                border : 2px solid  #4c1cee;
                color : #4c1cee
            }

            .btn.write:hover {
                background : #4c1cee;
                color : white;
            }

            .btn.write i.left {
                margin : 0;
            }


        </style>
    </head>
    <body>
        <%- include ("../partials/nav") %>
        <div class="container">
            <div class="writeCon">
                <div class="boardtitle">글쓰기</div>
                <div class="buttons"> 
                    <form class="write short" action="/board/short/write" method="GET">
                        <button type="submit" class="btn write"><i class="material-icons left">chat_bubble_outline</i>짧은글 쓰기</button>
                    </form>
                    <form class="write long"action="/board/long/write" method="GET">
                        <button type="submit" class="btn write"><i class="material-icons left">chat_bubble</i>긴글 쓰기</button>
                    </form>
                </div>
            </div>
        </div>      
    </body>
</html>